.tn-single-member-view {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  padding: 80px 0px;
}

.team-member-profile {
  width: 500px;
  background: white;
  padding: 30px;
  border-radius: 20px;
}

.team-member-profile .team-member-headshot img {
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100% !important;
  height: 100% !important;
}
.team-member-profile .team-member-extra-info{
  margin: 30px 0 20px;
}
.team-member-profile h1.team-member-name {
  font-size: 44px;
  line-height: 44px;
}
.team-member-profile .team-social-media{
  margin-top: 20px;
}
.team-member-profile .team-social-media ul li {
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}
.team-member-profile .team-social-media ul {
  padding: 0;
}
.team-member-profile .team-social-media svg{
  transition: all 0.3s ease;
}